  
  /* Container */
  .popup-container {
    background-color:  rgb(234, 245, 255);
    border-radius: 0.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(20px);

  }
  
  /* Header */
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--color-text);
    
  }
  
  .popup-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  .popup-header h2 span {
    font-size:2rem;
    font-weight: 200;
   color: var(--color-faded-accent-primary);
  }
  




  .popup-close-btn {
    background: none;
    border: none;
    position:absolute;
    top:-1.5rem;
    right: -2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s;
    background-color:rgba(240, 248, 255, 0.74);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    transition: all 0.3s;
  }
  .popup-close-btn:hover {
    background-color: rgba(240, 248, 255, 0.548);
  }


 
/* PAYment details and amount */
.payMentAmount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding:1rem;
    color:var(--color-background);
    
}
.payMentAmount span{
    color: var(--color-faded-accent-primary);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 4px;
}

  /* Form Elements */
  .popup-input-group {
    margin-bottom: 16px;
  }
  
  .popup-input-group label {
    display: block;
    font-size: 0.875rem;
    color:black;
    margin-bottom: 4px;
  }
  
  .popup-input-group input {
    background-color:transparent;
    color:black;
    
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--color-faded-background);
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: border-bottom 0.2s, box-shadow 0.2s;
  }
  
  .popup-input-group input:focus {
    border-bottom: 1px solid var(--color-accent-secondary);
    outline: none;
  }
  
  .popup-input-row {
    display: flex;
    gap: 16px;
    
  }
  
  /* Submit Button for the popUp */
  .popup-submit-btn {
    width: 100%;
    background-color: var(--color-accent-primary);
    color: aliceblue;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    margin: 1rem 0 1rem 0;
  }
  
  .popup-submit-btn:hover {
    filter: brightness(0.9);
  }
  
  @media (max-width:480px) {
    .popup-input-row {
      overflow-x: scroll;
    }
    
  }