/* my own custom horizontal rule */
  .bodyHr{
    width:100%;
    height:1px;
    background-image: linear-gradient(to right,rgb(4, 11, 29), #c42e00, rgb(4, 11, 29));
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

/* start of homepage */
  .Home {
    text-align: center;
    background-color: rgb(4, 11, 29);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .whiteIcons{
    font-size: 2rem;
    margin: 1rem;
    color:var(--color-text);
  }
  .redIcons{
    font-size: 2rem;
    margin: 1rem;
    color:var(--color-faded-accent-primary);
  }


/* .................hero section animation images...................... */
.homeCaptionImage1{
  width:100%;
  height: 100vh;
  margin:auto;
  top: 0;
  background-image: url(../assets/HotelCaption1.png);
  background-size: cover;
  background-position-y: 35%;
  background-position-x: -3rem;

  animation: captionImage1Slide 40s ease-in-out 0s infinite;
  position: absolute;
}
.homeCaptionImage2{
  width:100%;
  height: 100vh;
  margin:auto;
  background-image: url(../assets/hotelCaption2.png);
  background-size: cover;
  background-position-y: 70%;
  position: relative;
  animation: captionImage2Slide 40s ease-in-out 0s infinite;
  top:-3rem;

}
@keyframes captionImage1Slide {

  0%{
     width: 100%;
  }

  20%{
    width: 100%;
  }

  40%{
    width: 0%;
  }

  60%{
    width: 0%;
  }

  80%{
    width: 0%;

  }
  100%{
    width:100%;
  }

}

@keyframes captionImage2Slide {

  0%{
     width: 0%;
  }

  20%{
    width: 0%;
  }

  40%{
    width: 100%;
  }

  60%{
    width: 100%;
  }

  80%{
    width: 100%;

  }
  100%{
    width:0%;
  }

}

/* ................The shade ontop of hero section images ................*/
.captionShader{
  width:100%;
  height: 100vh;
  background-color: rgba(4, 11, 29, 0.7);
  position:absolute;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.captionHeaderText{
  width: fit-content;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.captionHeaderText p{
  height: fit-content;
  font-size: 4rem;
  color:whitesmoke;
  


}
.captionHeaderText p span{
  font-weight: 100;
 color:var(--color-accent-secondary);
 

}
.captionMessage{
  width:80%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

/*   animation: captionBodyTextSlide 3s ease-in-out 0s forwards;  */
  
}
.captionMessage p{
  font-size: 1.05rem;
  color:var(--color-text);
  letter-spacing: 0.4rem;

}
@keyframes captionBodyTextSlide {
  from{
    width:0;
    filter:blur(50px);
    transform: translateX(-24rem);
  }
  to{
   filter:blur(0);
    transform: translateX(0rem);
    width: 100%;
  }
}

/* this is home section 0 */
.homeSection0{
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.WelcomeParagraph{
  color:var(--color-text);
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  

}

/* ---------------This is the first section------------ */
.homeSection1{
  float:left;
  width:40%;
  height:25rem;
  margin: 2rem 0 5rem 10%;
  background-color: transparent;
 
}
.why_Us{
font-size: 1.1rem;
font-weight: bold;
color: var(--color-faded-accent-primary);
text-align: left;
margin-bottom: 2rem;
box-shadow: 100px 250px 400px 10px #ec3d07ee;
width:fit-content;
height: 4rem;
}
.h1Text{
    font-size: 2.3rem;
    font-weight: 300;

}
.h1Text span{
  font-size: 2.5rem;
  font-weight: 800;
}
.homeMessage1{
  margin: auto;
  width:80%;

}

/* the styled images */
.section1RightImage{
 width:35%;
 height:25rem;
 float:right;
 margin: 2rem 10% 5rem 0;

}
.mainDivStyle {
  width: 15rem;
  height:60vh;
  border-radius: 2rem;
  transform: translate(1rem, 1rem);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.5);
}
.style1{
  background-color: var(--color-text);
  transform: rotateZ(25deg) translateY(3rem);
  margin-left: 30%;
/*   background-image: url(../assets/animeReservation/introAnimation7.jpg); */
    background-image: linear-gradient(to left,var(--color-faded-background),#ff562217);
  background-position-x: 64%;

  
  
}
.style2{
  transform: rotateZ(-25deg) translate(-5rem, -4rem);
  background-image: linear-gradient(to right,var(--color-faded-background),#ff562217);
  background-position-x: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.style2 ul {
  margin-left: 20%;
}
.style2 ul li:nth-child(even){
  color:var(--color-accent-secondary);
}
.style2 ul li{
list-style-type:circle;
font-size: 2rem;
text-align: left;
line-height: 3rem;

color:rgb(211, 211, 255);
}
::marker{
  color:var(--color-accent-secondary);
}

.style2 button{
width:60%;
height: 2rem;
padding:0.5rem;
font-size: 1rem;
border-radius: 2rem;
border:none;
margin:0 1rem 1rem 0;
background-color: var(--color-text);
transition: all 200ms;

}
.style2 button:hover{
  filter: brightness(0.85);
  
}


/* ...............This is the featured rooms section just below the first section ..........*/
.featuredRooms{
  width:100%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto 20vh auto;
  padding: min(2rem, 5%);
 /*  background-color: #001c2c; */

  
}

.featuredImagesDiv{
  width:70%;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:1rem;
  padding-top: 5%;
  

}
.featuredRoomsHeader{
  color: var(--color-faded-accent-primary);

}

/* .................This is the testimonials section.............. */
.testimonialSection{
  height: fit-content;
  width:100%;
  margin:5rem 0 10rem 0;
  padding-bottom: 3rem;

}
.testimonialsCaption{
  width:30rem;
  max-width: 95% ;
  height:fit-content;
  width:35rem;
}
.clientTestimonials{
  width: 100%;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;

}
.comments{
  width: 75%;
  margin: auto;
  height: fit-content;
}
/* Testimonial lights from the second message box shadow */
.testimoniaLights{
  box-shadow: 300px 400px 600px 10px #ff56222d;

}


/* ............................Special Offers and Promos section....................... */
.promoSection{
height:fit-content;
width:90%;
padding-bottom: 1rem;
margin:10rem auto 5rem auto;

}
.promosHeader{
font-size: 1.1rem;
font-weight: bold;
color:var(--color-faded-accent-primary);
text-align: center;
margin-left: 3%;
margin-bottom: 2rem;
}
.promoh1Text{
  font-size: 2.3rem;
  font-weight: 300;
  text-align: right;
  
}

.promoh1Text span:nth-child(1){
  font-size: 2.5rem;
  font-weight: 800;
}
.promoh1Text span:nth-child(2){
  color:var(--color-accent-secondary);
}


.promoParagraph{
  width: 100%;
  height: fit-content;
  color:var(--color-text);
  font-size: 1.1rem;
  line-height: 1.7rem;
  filter: brightness(0.85);
  text-align: left;
  display: flex;
  justify-content: flex-end;

}
.promoParagraph p{
  width:50%;
  margin-bottom: 2rem;
}

.promosContainer div{
  display: inline-block;
  margin-inline: 3%;  


}
.promoJoinUs{
  width: 100%;
  height: fit-content;
  color:var(--color-text);
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 4rem;
  text-align: left;
  display: flex;
  justify-content: center;

} 

/* .............................Now moving to the chat form section................  */
  .homeChatSection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0.5rem;
    margin:5rem 0 5rem 0;
    flex-wrap: wrap;
  }
  .chatCaption{
    width: 80%;
    max-width:30rem;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .chatCaption h2{
    font-weight: 300;
    font-size: 2.5rem;
  }
  
  .chatCaption p{
    font-size: 1.1rem;
  }

/* date */
  .captionDate{
    width:50%;
    height:2rem;
    margin:auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    color:var(--color-text);
  }


  /* pulse animation */
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .pulse {
    animation: pulse 2.5s ease-in-out infinite;
  }
  

/* Now making my website more responsive */
/*Mobiles and tablets*/ 
@media (max-width: 767px){
  .captionHeaderText p{
    height: fit-content;
    font-size: 3rem;
    color:whitesmoke;
    
  
  
  }

  /* this is home section 0 */
.homeSection0{
  height: fit-content;
  
  flex-direction: column;
}
.WelcomeParagraph{
margin-bottom: 2rem;

}

/* searchBar */
.searchBar{
margin-right: 10%;
width:90%;
}


/*-------------------- Section 1 */
.homeSection1{
  float:none;
  width:90%;
  height:fit-content;
  margin: auto;
}
.h1Text{
  font-size: 2rem;
}
.h1Text span{
font-size: 2.2rem;
}

/*------------------------ the styled images */
.section1RightImage{
 width: 80%;
 float:none;
 margin: auto;
 margin-top: 8rem;

}

.style1{
  width: 5rem;
  margin-left: 0;
  transform: translateX(0);
  
}
.style2{
  margin-left: 2rem;
  width: 14rem;
  transform: translateX(0);
}


/*----------------------------- promo section design */
  .promoh1Text{
    text-align: center;
  }
  .promoParagraph p{
    width:100%;
    text-align: center;
  }

  .comments{
    width: 90%;
    height: 20rem;
}


/*---------------------- MESSAGE BOX SECTION */
.chatCaption{
  width: 80%;
}
.chatCaption p{
  font-size: 0.7rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

}
/* Small Screens and Laptops */
@media (min-width: 768px) and (max-width: 1024px){
  .homeSection1{
    float:none;
    width:70%;
    height:fit-content;
    margin: auto;
  }

  /* the styled images */
.section1RightImage{
 width: 95%;
 float:none;
 margin: auto;
 margin-top: 8rem;

}
.style1{
  width: 15rem;
  
}

}
