
.paymentForm{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto 8rem auto;

}


.testIcon{
    width: 400px;
    height: 20rem;
    background-image: url(../assets/undraw_mobile-pay_yho9.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
  }

  .payform{
    width:400px;
    padding:1rem;
    height: 20rem;
    margin-right: 25%;
  }
  @media (max-width: 767px){
    .payform{
    width:clamp(300px, 90%, 400px);
    margin: auto;
    }

    .paymentForm{
      margin-bottom: 2rem;
  
  }
  }