

.adminNavIcons{
    background-color: transparent;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 1rem;
  
}
.adminNavIcons ul{
  height: 100%;

}
  .adminNavIcons li {
    color: aliceblue;
    font-size: 19px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    padding:0.5rem;
    cursor:pointer;
    list-style-type: none;
    height: 15%;
  
  }
  
  .adminNavIcons li:hover {
    filter: brightness(0.75);
  }

  .adminNavIcons li:active {
    filter: brightness(1);
  }




