
  .FooterHr{
    width:100%;
    height:1px;
    background-image: linear-gradient(to right,rgb(17, 23, 37), #c42e00, rgb(17, 23, 37));
    margin: auto;
    margin-top: 1rem;
}

  .Footer{
   height: 23rem;
   background-image: url(../assets/modernOneBed.png);
   background-size: cover;
   background-position: center; 
   background-position-y:55%;

   position: relative; 
   margin-top: 10rem;
   
  }
h1{
  text-align: left;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  
}
.contentBoxHr{
  width:70%;
  height:1px;
  background-image: linear-gradient(to right, #FF5722,rgba(21, 28, 46, 0.6), rgba(21, 28, 46, 0.6), aliceblue, aliceblue);
  margin: auto;
  margin-bottom: 1rem;
  float:left;
  margin-left: 0.3rem;
  opacity: 0.7;
}
.clear{
  clear:both;
}
  .FooterItems{
    background-image:linear-gradient(to bottom, rgb(4, 11, 29),rgb(4, 11, 29, 0.75));
    height: 23rem;
    position:relative;
    
  }

  .socialIconsBar{
    width:20rem;
    height:2.5rem;
    float:right;
    margin-top: 1.rem;
    margin-right: 1rem;
  }

  .FooterCopyrights{
    text-align: center;
    color:aliceblue;
    position:absolute;
    width:100%;
    bottom:0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }


/* Now making my website more responsive */
/*Mobiles and Tablets*/ 
@media (max-width: 767px){
  .Footer{
    height: fit-content;
   }

   .FooterItems{
     height: fit-content;
   }
 
   .socialIconsBar{
     margin-bottom: 7rem;
   }
 
   .FooterCopyrights{
     font-size: 0.9rem;
     margin-bottom: 2rem;
   }
 
}


/* Small Screens and Laptops */
@media (min-width: 768px) and (max-width: 1024px){
  .Footer{
    height: fit-content;
   }

   .FooterItems{
     height: fit-content;
   }
 
   .socialIconsBar{
     margin-bottom: 7rem;
     
   }
 
   .FooterCopyrights{
     margin-bottom: 2rem;
     
   }
}


/* Large Screens and Desktops */
@media (min-width: 1025px) {
  

}