
.ImageDefaults{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  
}
.ImageContainer{
    width:34rem;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 3rem;
    
}

.ImageShadder{
    background-color: rgba(0, 0, 0, 0.5);
    position:relative;
    left:6rem;
    top:12rem; 
    width:20rem;
    overflow: hidden;
    animation: shadeSlider 2s ease 0s forwards;
}

.ImageShadder h1{
    text-align: center;
    margin:2rem 2rem;
    font-weight:lighter;
    font-size: 1.5rem;
} 

.containerSection1{
    height:100%;
    width:14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.containerSection2{
    height:90%;
    width:18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.TwinBeds1{
    background-image: url(../assets/TwinBeds1.jpg);
    width:11rem;
    height:17rem;
    animation: slide1 2.5s ease-in-out 0s forwards;
}

.Swimming2{
    background-image: url(../assets/Swimming2.jpg);
    width:14rem;
    height:7rem;

    animation: moveIn2 2s ease-in-out 0s forwards;
}

.singleBedRoom1{
    background-image: url(../assets/modernOneBed.png);
    background-position-y: 90%;
    width:100%;
    height:38%;

    animation: moveIn1 3s ease-in-out 0s forwards;
}

.HotelBathroom{
    background-image: url(../assets/HotelBathroom.jpg);
    width:70%;
    height:58%;
  
    animation: slide2 2.5s ease-in-out 0s forwards;
}

@keyframes shadeSlider {
    from {
        width:0;
    }

    to {
       width:20rem;
    }
}
@keyframes slide1 {
    from {
        transform: translate(0, -100px);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}
@keyframes slide2 {
    from {
        transform: translate(100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}

@keyframes moveIn1 {
    from {
        transform: translate(100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}
@keyframes moveIn2 {
    from {
        transform: translate(-100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0, 0);
        opacity:1;
        filter: blur(0);
    }
}

/* Now making my website more responsive */
/*Mobiles and Tablets*/ 
@media (max-width: 767px){
    .ImageContainer{
        width:100%;
        margin: auto;  
    }
    .containerSection1{
        height: 27rem;
       }
    .containerSection2{
     display: none;
    }

    .Swimming2{
        background-image: url(../assets/modernOneBed.png);
        width:16rem;
        height:8rem;
        background-position-y:60% ;
    }
    .ImageShadder{
       display: none;
    }
}



