
/* This is the main div container that holds everything */
.imageDiv{
  width: 16rem;
  height: 35vh;

}

/* This divs will hold the featured rooms' images */
 .divResize{
        width:100%;
        height:100%; 
        margin: auto;
        border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
        background-position-y: 100%;
    }
   .featuredRoom1{
    background-image: url(../assets/animeReservation/pexels-charlotte-may-5825536.jpg);
 
  }
  .featuredRoom2{
    background-image: url(../assets/animeReservation/pexels-houzlook-3797991.jpg);

  }
  .featuredRoom3{
    background-image: url(../assets/animeReservation/FamilyDeluxeRoom1.jpg);

  }

