*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.socialIcons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; 
  }
  
  .socialIcons a {
    color: aliceblue;
    font-size: 19px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    padding:0.5rem;
    cursor:pointer;
  }
  
  .socialIcons a:hover {
    filter: brightness(0.75);
  }

  .socialIcons a:active {
    filter: brightness(1);
  }
  