
/* textbox widh to be defined where its rendered */
.TextBox{
    background-image: linear-gradient(to top, rgb(7, 16, 37), transparent);
    padding:1rem;
    margin-bottom: 2rem;

  
}

.TextDesign p{
    font-size: 1rem;
    text-align: left;
    letter-spacing: 1px;
    color: hsl(0, 0%, 80%);


}
